<div class="w-full flex flex-col justify-center items-center min-h-screen bg-gradient-to-br from-green-500 via-green-300 to-green-100">
    <!-- Container -->
     <div class="w-[50vw] h-[70vh] bg-white/75 rounded-lg border-2 flex flex-col justify-center items-center py-10">
        <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col w-[80%] h-full gap-10 justify-center items-center">
            <label class="text-2xl font-bold">
                Username
            </label>
                <input type="text" formControlName="username" class="w-[60%] bg-green-300 placeholder:opacity-65" placeholder="Username or Email">
            <label for="">
                Password
            </label>

                <input type="password" formControlName="password" class="w-[60%] bg-green-300">
               
                <button type="submit" class="px-4 py-2 rounded-lg bg-green-500 text-white font-bold cursor-pointer hover:scale-125 hover:bg-green-600 hover:text-2xl transition-all">Login</button>
        </form>
      
     </div>
</div>